pkgbase = smfc
	pkgdesc = Supermicro Fan Control
	pkgver = 4.2.1
	pkgrel = 1
	url = https://github.com/petersulyok/smfc
	install = smfc.install
	arch = any
	license = GPL3
	checkdepends = flake8
	checkdepends = python-coverage
	checkdepends = python-pylint
	checkdepends = python-pytest
	checkdepends = python-pytest-cov
	depends = python
	depends = syslog-ng
	depends = pacman-hook-reload-modules
	optdepends = nvidia-utils
	optdepends = smartmontools
	backup = etc/default/smfc
	backup = opt/smfc/smfc.conf
	source = smfc-v4.2.1.tar.gz::https://github.com/petersulyok/smfc/archive/refs/tags/v4.2.1.tar.gz
	source = modules-load.conf
	source = smfc.install
	b2sums = bd6f0118fb819f88eebace63f6a5533c8de272437da6a097ccfe8a6923be3e79bdba235c99b34a7d374f4941a8c9842f64e75deb879f643b7efb89e629590b05
	b2sums = da0f37c6575fd3710af4ec15ca63979a15486cea69c929ecbd1c687aab066b60fb4f90df834112b391f86a0498844fa688c870a904658362be8b2c165d37c5d4
	b2sums = b085d9d1d133ff163774d59370a64ffb56d94e581301312202bb4cb468b54965fcb88643af942d6618d15b98aa29c7b45f2433a3bb0a29bf91bb4cfe8b52bf53

pkgname = smfc
